@page
@model CourseProject.Pages.Admin.CellPhones.IndexModel
@{
}

<div>
    <a asp-page="/Admin/Index">Назад</a>
    <div>
        <a asp-page="/Admin/CellPhones/Add">Добавить телефон</a>
    </div>
            <table class="table table-bordered align-middle text-center">
        <thead>
            <tr>
                <th>Фото</th>
                <th>Название</th>
                <th>Тип корпуса</th>
                <th>Цвет</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.CellPhones != null)
        {
            @foreach (var smartPhone in Model.CellPhones)
            {
                <tr>
                    <th style="width: 10rem;">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(smartPhone.ImageByte ?? Array.Empty<byte>())"
                             class="img-fluid rounded-start rounded">
                    </th>
                    <th>@smartPhone.Name</th>
                    <th>@smartPhone.CaseType</th>
                    <th>@smartPhone.Color</th>
                    <th>
                        <div>
                                <a class="btn btn-primary" asp-page="/Admin/CellPhones/Edit" asp-route-id="@smartPhone.PhoneId">Изменить</a>
                            <form  method="post" asp-page-handler="Delete" asp-route-phoneId="@smartPhone.PhoneId">
                                    <button class ="btn btn-primary" type="submit">Удалить</button>
                            </form>
                        </div>
                    </th>
                </tr>
            }
        }
        </tbody>

    </table>
</div>